<section class="text-center">
	<div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>

	<div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
		<div class="card-body py-5 px-md-5">

			<div class="row d-flex justify-content-center">
				<div class="col-lg-8 form-body p-5">
					<h2 class="fw-bold mb-5">Register here</h2>
					<form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
						<div class="form-outline mb-4">
							<label class="form-label" for="roll">Enter Roll Number</label>
							<input type="text" id="roll" ngModel name="roll" class="form-control" />
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="firstname">Enter First name</label>
									<input type="text" id="firstname" ngModel name="firstName" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="lastname">Enter Last name</label>
									<input type="text" id="lastname" ngModel name="lastName" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-outline mb-4">
							<label class="form-label" for="email">Enter Email</label>
							<input type="email" id="email" ngModel name="email" class="form-control" />
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="pass">Enter Password</label>
									<input type="password" id="pass" ngModel name="password" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="cpass">Confirm Password</label>
									<input type="password" id="cpass" ngModel name="cpass" class="form-control" />
								</div>
							</div>
						</div>
						<!-- <div class="form-check d-flex justify-content-center mb-4">
							<input class="form-check-input me-2" type="checkbox" value="" id="chk" ngModel name="chk"
								checked />
							<label class="form-check-label" for="chk">
								Remember me
							</label>
						</div> -->
						<button type="submit" class="btn btn-primary btn-block mb-4">
							Click to Register
						</button>

						<hr />

						<a href="/login">Already have an account?</a>

					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section: Design Block -->
